body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: rgb(105, 183, 209);
    /* background: #8E0E00;
    background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
    background: linear-gradient(to left, #8E0E00, #1F1C18); */
}

#container {
    height: 600px;
    width: 360px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #1F030C;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding-left: 20px;
}

form input[type="text"] {
    width:90px;
}

input {
    padding-left: 20px;
}

#billamt {
    font-size: 14px;
    /*color: #2980b9;*/
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
}

.dollarSign {
    display: inline;
}

#serviceQual {
    padding: 13px 13px 20px 20px;
    margin-left: 0px;
    font-size: 18px;
}

button {
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    margin: 50px auto;
    background:rgb(22, 22, 231);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    color: white;
    transition: 1s;
}

button:hover {
    background: black;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}